*{margin: 0;padding: 0;}
*{box-sizing: border-box;}
button{outline: none;}

#main{
    text-align: center;
    background-color: #f2f2f2;
    height: 100vh;
}
.title{
    padding-top: 60px;
    font-size: 40px;
    color: #444444;
    font-weight: normal;
    padding-bottom: 7px;
}
.introduce{
    font-size: 40px;
    color: #444444;
    font-weight: bold;
}
#codePage{
    padding: 20px;
}
a{
    color:#0196e3;
    text-decoration: none;
}
.window{
    height: 450px;
    width: 920px;
    margin: 0px auto;
    overflow: hidden;
    box-shadow: 0px 0px 2px 2px #dcdcdc;
    background-color: white;
}
.slides{
    display: flex;
    transition: all 0.5s;
}
#buttonWrapper{
    height: 50px;
    background-color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.button{
    height: 50px;
    border-style: none;
    flex-grow: 1;
    margin-left: 2px;
    margin-right: 2px;
    background: linear-gradient(to bottom, #fafafa 0%,#ececec 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    box-shadow: 0px -1px 1px 1px #dcdcdc;
    position: relative;
}
#right{
    height: 50px;
    flex-grow: 6;
    margin-left: 2px;
    margin-right: 2px;
    background: linear-gradient(to bottom, #fafafa 0%,#ececec 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    box-shadow: 0px -1px 1px 1px #e0e0e0;
    z-index: 1;
}
#left{
    height: 50px;
    flex-grow: 6;
    margin-left: 2px;
    margin-right: 2px;
    background: linear-gradient(to bottom, #fafafa 0%,#ececec 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    box-shadow: 0px -1px 1px 1px #e0e0e0;
    z-index: 1;
}
.button > img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.hover{
    height: 50px;
    border-style: none;
    flex-grow: 1;
    border:1px solid white;
    background: linear-gradient(to bottom, #f7f7f7 0%,#f3f3f3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    box-shadow: 0px -1px 1px 1px #e0e0e0;
    position: relative;
}
#codeInfo{
    padding-top: 30px;
    font-size: 16px;
    padding-bottom: 20px;
}
footer{
    font-size: 12px;
}
.active{
    box-shadow: 0px -1px 1px 1px #dcdcdc,inset 0px 0px 10px 5px #c8c8c8;
}
